<!DOCTYPE html>
<html>

<!-- <body background="/assets/background.png"> -->
</body>

	<div class="home-style">

		<h1 style="margin:0 auto; width:80%; font-family: Georgia; text-align:center; padding-bottom: 50px; font-size: 55px;">WELCOME TO CATAVOGUE</h1>
		
		<% if !user_signed_in? %>
			<div class="box">
				<h1 style="margin:0 auto; width:80%; font-family: Georgia; text-align:center; padding-top: 30px; font-size: 40px;">Sign Up or Log In to view or review courses and professors!</h1>
				<div style="padding-bottom: 30px; padding-top: 25px;" class="text-center">
					<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
				</div>
		<% end %>
			
	</div>

</html>