<h1> This is the index page for Lectures</h1>

<table class="table">
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Professor Name</th>
    <th></th>
  </tr>

  <% @lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.course_id %></td>
      <td><%= lecture.course_name %></td>
      <td><%= lecture.professor %></td>
      <td><%= link_to 'Show', lecture_path(lecture) %></td>
    </tr>
  <% end %>
</table>