<!DOCTYPE html>
<html>

	<div class="about-style">

		<head class="head">ABOUT CATAVOGUE</head>
	
		<div class="box">

			<h1 style="margin:0 auto; width:95%; font-family: Georgia; text-align:left; padding-top: 20px; padding-bottom: 10px;">MISSION STATEMENT</h1>
			<p class="text">
				CataVogue offers San Jose State University students an easy-access application that provides them with course descriptions, course ratings, professor reviews, and course resources! Students can add ratings, reviews, and resources to aid other students! We strive for a simple application that students can utilize and benefit from throughout their college career!
			</p>

			<h1 style="margin:0 auto; width:95%; font-family: Georgia; text-align:left; padding-top: 20px; padding-bottom: 10px;">WHAT IS CATAVOGUE?</h1>
			<p class="text">
				CataVogue is an application that allows San Jose State University students to view or post ratings, reviews, or resources.
			</p>

			<p class="text">
				The following features are available ONLY to SJSU students:
			</p>

			<p style="margin:0 auto; width:95%; font-family: Georgia; font-size: 20px; padding-left: 70px; text-align:left;" >
					Post Course Rating
			</p>
			<p style="margin:0 auto; width:95%; font-family: Georgia; font-size: 20px; padding-left: 70px; text-align:left;">
					Post Professor Review
			</p>
			<p style="margin:0 auto; width:95%; font-family: Georgia; font-size: 20px; padding-left: 70px; text-align:left; padding-bottom: 2px;">
					Upload Resources (i.e. Greensheet)
			</p>

			<h1 style="margin:0 auto; width:95%; font-family: Georgia; text-align:left; padding-top: 20px; padding-bottom: 10px;">MEET THE TEAM</h1>
			<p style="padding-bottom: 20px;" class="text">
				Meet Anjani! Anjani is a third-year at San Jose State University pursuing a Bachelor's Degree in Software Engineering. She loves to travel, try new things, and progam! 
			</p>

			<p style="padding-bottom: 20px;" class="text">
				Meet Edward! Edward is pursuing his degree in Software Engineering at San Jose State University. He loves to play sports and challenge himself in programming!
			</p>

			<p style="padding-bottom: 20px;" class="text">
				Meet Nithya! Nithya is a Software Engineering student at San Jose State University. She loves to watch Indian soap operas, go on adventures, and programming!
			</p>
		</div>
		
	</div>

</html>
