/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
	padding-top: 60px;
	padding-bottom: 20px;
}


.navbar-brand{
	font-family: Georgia;
	font-size: 24px;
	color: #fff;
}

.about-style{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size: 60px;
	font-family: Georgia;
	color: #fff;
	padding-top: 50px;
}

.about-style .head{
}

.about-style .text{
	font-size: 20px;
	text-align: left;
	padding-left: 50px;
	padding-right: 20px;
}

.box { 
   color: white; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7); 
   font-family: Georgia;
}

.home-style{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 20px;
}

.paginate-style {
	text-align: center
}

.form-style {
	padding-left: 40px;
}

